.main-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black solid;
    border-radius: 8px;
    width: 30%;
    height: 60%;
    box-shadow: 2px 2px 2px 2px #2c2c2c;
    background-color: #fff;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.citySearch-input{
    width: 50%;
    border: #fff solid 1px;

}
.citySearch-button{
    width: 40%;
}